.displayBoxtop{
    display: flex;
    flex-direction: row;
    flex-flow:row;
    width: 1345px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.displayTextTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.displayTitleTop{
    text-align: left;
    font-family: 'Amaranth';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 44px;
}

.displayResumeTop{
    text-align: justify;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight:100;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 40px;
}

.displayButton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 468px;
    height: 58px;
    background: #069C6F;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    font-family: 'Amaranth';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 42px;
}

.displayProfIMG{
    width: 656.83px;
height: 428.28px;
left: 567.14px;
top: 71px;
}


.displayCubo{
    width: 1366px;
height: 650px;
background: #069C6F;
display: flex;
flex-direction: column;
align-items: center;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.displayCuboLine{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.cuboLaranja{
    width: 320px;
margin-top: 27px;
margin-right: 30px;
margin-bottom: 27px;
background: #FF8324;
color: #FFFFFF;
border-radius: 40px;
}

.cuboBranco{
    width: 320px;
    margin-top: 27px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 27px;
    background: #FFFFFF;
    color: #7053E8;
    border-radius: 40px;
}

.cuboVerde{
    width: 320px;
    margin-top: 27px;
    margin-left: 30px;
    margin-bottom: 27px;
    background: #BDCB3A;
    color: #FFFFFF;
    border-radius: 40px;
}

.displayCuboText{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 80%;
height: 210px;
}

.displayCuboTitle{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;

    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.displayCuboResume{
    width: 979px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cubo2023{
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Amaranth';
    font-weight:800;
    font-size: 70px;
    align-items: center;
    color: #FFFFFF;
}
.cubo81{
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Amaranth';
    font-weight:800;
    font-size: 75px;
    align-items: center;
    color: #7053E8;
}
.cuboTitle{
    margin-top: 18px;
    margin-bottom: 2px;
    font-family: 'Amaranth';
    font-weight:800;
    font-size: 35px;
    line-height: 31px;
    align-items: center;
}

.cuboText{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items:center;
    text-align: left;
}

.displayBoxMiddle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow:row;
    width: 1345px;
    height: 100%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.displayTextMiddle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.displayTitleMiddle{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 40px;
}

.displayTopic{
    text-align: justify;
    margin-right: 29px;
    margin-bottom: 20px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight:100;
    font-size: 22px;
    line-height: 30px;
}


.displayBoxBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1345px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.displayTextBottom{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

.displayForSchool{
    height: 0px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    align-items: right;
    letter-spacing: 4px;
}

.displayTitleBottom{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 40px;
    align-items: center;
    text-align: right;
}

.displayResumeBottom{
    width: 480px;
    justify-content: end;
    text-align: justify;
    margin-bottom: 50px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight:100;
    font-size: 22px;
    line-height: 24px;
}


@media only screen and (max-device-width: 720px) {
    .displayBoxtop{
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
        justify-content: center;
        width: 680px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .displayProfIMG{
        height: 75%;
        width: 75%;
    }
    
    .displayTextTop{
        display:flex;
       height: 100%;
    }
    
    .displayTitleTop{
        width: 500px;
        text-align: left;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }
    
    .displayResumeTop{
        width: 500px;
        height: 96px;
        text-align: justify;
        margin-right: 20px;
        margin-bottom: 60px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight:100;
        font-size: 22px;
        line-height: 30px;
    }
    
    .displayCubo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 720px;
        height: 100%;
    background: #069C6F;
    align-items: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .displayCuboLine{
        display: flex;
        flex-direction: column;
        justify-content:center;
        justify-items: center;
    }
    
    .cuboLaranja{
        width: 180px;
        height: 180px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 40px;
        background: #FF8324;
        color: #FFFFFF;
        border-radius: 40px;
    }
    
    .cuboBranco{
        width: 180px;
        height: 180px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 40px;
        background: #FFFFFF;
        color: #7053E8;
        border-radius: 40px;
    }
    
    .cuboVerde{
        width: 180px;
        height: 180px;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 40px;
        background: #BDCB3A;
        color: #FFFFFF;
        border-radius: 40px;
    }
    
    .displayCuboText{
        display:flex;
        flex-direction: column;
        align-items:center;
        width: 70%;
        height: 100%;
    }
    
    .displayCuboTitle{
        display: flex;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        align-items:center;
        text-align:justify;
        color: #FFFFFF;
    }
    
    .displayCuboResume{
        display: flex;
        width: 100%;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        align-items:center;
        text-align:justify;
        color: #FFFFFF;
    }
    
    .cubo2023{
        margin-top: 0px;
        margin-bottom: 2px;
        font-family: 'Amaranth';
        font-weight:800;
        font-size: 60px;
        align-items: center;
        color: #FFFFFF;
    }
    .cubo81{
        margin-top: 0px;
        margin-bottom: 2px;
        font-family: 'Amaranth';
        font-weight:800;
        font-size: 60px;
        align-items: center;
        color: #7053E8;
    }
    .cuboTitle{
        margin-top: 18px;
        margin-bottom: 2px;
        font-family: 'Amaranth';
        font-weight:800;
        font-size: 25px;
        line-height: 31px;
        align-items: center;
    }
    
    .cuboText{
        margin-right: 10px;
        margin-left: 10px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 0.9rem;
        align-items:center;
        text-align: center;
    }
    
    .displayBoxMiddle{
        display: flex;
        flex-direction:column-reverse;
        width: 720px;
        height: 100%;
    }
    
    .displayTextMiddle{
        align-items: center;

    }
    
    .displayTitleMiddle{
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 4px;
    }
    
    .displayTopic{
        text-align: justify;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight:100;
        font-size: 1rem;
    }
    
    
    .displayBoxBottom{
        display: flex;
        flex-flow: column;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 710px;
    }
    
    .displayTextBottom{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
    
    .displayForSchool{
        height: 0px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        align-items: left;
        letter-spacing: 4px;
    }
    
    .displayTitleBottom{
        width: 350px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        align-items: centerr;
        text-align: left;
    }
    
    .displayResumeBottom{
        width: 350px;
        height: 150px;
        text-align: justify;
        margin-right: 20px;
        margin-bottom: 60px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight:100;
        font-size: 22px;
        line-height: 24px;
    }
    
    .displayButton{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 280px;
        height: 88px;
        margin-left: 20px;
        background: #069C6F;
        color: #FFFFFF;
        border: none;
        border-radius: 15px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }
    
    }