.fullForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow:row;
justify-content: space-evenly;
width: 1345px;
height: 100%;
    
}
.displayBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow:row;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.displayText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    width: 400px;
    height: 421px;
    left: 472px;
    right: 860px;
    top: 219px;
     margin-right: 70px;
    margin-left: 39px;
}

.title{
    font-family: 'Amaranth';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
display: flex;
align-items: center;
color: #000000;
}

.resume{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.displayForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    width: 540px;
    background: #7053E6;
    border-radius: 45px;
}

.InputForm{
    width: 440px;
    height: 49px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 57px;
    margin-right: 57px;
    padding-left: 12px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.buttonQuero{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 50px;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #2A8950;
    border: 2px solid #FFFFFF;
    border-radius: 13px;
}

@media only screen and (max-device-width: 720px) {
    .fullForm{
        display: flex;
        flex-direction: column-reverse;
        flex-flow:column;
        justify-content: center;
        width: 710px;
        height: 100%;
    }
    
    .displayBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-flow:column;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .imgPROF{
        display: none;
    }

    .displayText{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        margin-top: 50px;
        margin-bottom: 30px;;
    }
    
    .title{
        width: 520px;
        font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    }
    
    .resume{
        width: 520px;
        text-align: justify;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        display: flex;
        align-items: center;
    }
    
    .displayForm{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 680px;
        margin-right: 20px;
        margin-left: 20px;
        background: #7053E6;
        border-radius: 45px;
        margin-bottom: 30px;
    }
    
    .InputForm{
        width: 75%;
        height: 75%;
        background: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;
        padding: 12px;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
    }
    
    .buttonQuero{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #2A8950;
        border: 2px solid #FFFFFF;
        border-radius: 13px;
        margin: 15px;
    }
}