.feito{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1345px;
    height: 768px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background: url(../Assets/sala-de-aula.png);
    border-radius: 40px;
    background-size: 1345px;
}
.cadastro{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    
}

@media only screen and (max-device-width: 720px) {
    .feito{
        display: flex;
        align-items:center;
        justify-content: center;
        width: 700px;
        height: 768px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        
        background: url(../Assets/sala-de-aula.png);
        background-repeat: no-repeat;
        background-size: 680px;
        background-position: center;
        border-radius: 10px;
    }
    .cadastro{
        font-family: 'Amaranth';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 78px;
        color: #000000;
        
    }
}