 .footer{
    background-color: #C73131;
    width: 1366px;
height: 80px;
display:flex;
flex-direction:column;
color:  #ffffff;
text-align: right;
font-family: 'Amaranth';
font-style: normal;
font-weight: 200;
font-size: 14px;
}

.footer div{
    text-align: right;
    margin-right: 129px;
}
.copyright{
    margin-top: 19px;
    margin-bottom: 0px;
}
.pg{
    margin-top: 0px;
    margin-bottom: 19px;
}

@media only screen and (max-width: 720px) {
    .footer{
        background-color: #C73131;
        width: 710px;
    height: 80px;
    display:flex;
    flex-direction:column;
    color:  #ffffff;
    text-align: center;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    }
    
    .footer div{
        text-align: center;
        margin-right: 0px;
    }
    .copyright{
        margin-top: 19px;
        margin-bottom: 0px;
    }
    .pg{
        margin-top: 0px;
        margin-bottom: 19px;
    }
}